<h2>Video Games SPA?</h2>
<h3>What is this?</h3>
<p>Video Games Spa is an AngularJS implementation using data from unofficial PlayStation Network and Xbox Live APIs. While I'd love to use the official APIs, there are none.</p>
<p>You can find out more about this on <a href="https://github.com/JamesSkemp/VideoGamesSpa" rel="external">the GitHub project page</a>.</p>
<p>You can find out more about me on <a href="http://jamesrskemp.com" rel="external">my official site</a>.</p>
<p>Feedback appreciated.</p>